*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
.hide{
	display: none;
} 
.cargame{
	background-image: url('bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}
.enemy1{
	width: 50px;
	height: 80px;
	background: url('c4.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 1;
	/* border: 3px solid white; */
	position: absolute;
	bottom: 80px;
}
.enemy2{
	width: 50px;
	height: 80px;
	background: url('c3.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 1;
	/* border: 3px solid white; */
	position: absolute;
	bottom: 80px;
}
.enemy3{
	width: 50px;
	height: 80px;
	background: url('c1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 1;
	/* border: 3px solid white; */
	position: absolute;
	bottom: 80px;
}
.enemy4{
	width: 50px;
	height: 80px;
	background: url('c2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 1;
	/* border: 3px solid white; */
	position: absolute;
	bottom: 80px;
}

.car{
	width: 60px;
	height: 100px;
	background: url('car2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 1;
	/* border: 3px solid white; */
	position: absolute;
	bottom: 250px;
}
.gamearea{
	width: 450px;
	height: 100vh;
	background: #2C3A47;
	margin: auto;
	position: relative;
	overflow: hidden;
	border-right: 7px dashed #c8d6e5;
	border-left: 7px dashed #c8d6e5;
}
.lines{
	width: 10px;
	height: 100px;
	background: white;
	position: absolute;
	margin-left: 50%;
}

.scorebg{
	position: absolute;
	top: 70px;
	left: 15px;
	background-image: url('wood.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 220px;
	height: 300px;
}

.score{
	position: absolute;
	top: 200px;
	left: 15px;
	width: 220px;
	height: 100px;
	line-height: 70px;
	text-align: center;
	color: black;
	font-size: 4rem;
	/* box-shadow: 0 10px 15px black; */
	/* border: 3px solid black;
 */
}

.startscreen{
	position: absolute;
	width: 75%;
	height: 600px;
	background-color: #ee5253;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	color: white;
	z-index: 10;
	text-align: center;
	border: 1px solid #ff6b6b ;
	padding: 20px;
	margin: auto;
	cursor:  pointer;
	letter-spacing: 5px;
	font-size: 70px;
	word-spacing: 3px;
	line-height: 85px;
	text-transform: uppercase;
	box-shadow: 0 15px 35px black;
	border-radius: 50px;
}

.right{
	width: 200px;
	height: 240px;	
	border-radius: 30px;
	right: 15px;
	/* top: 1200px; */
	bottom: 350px;
	background: lightblue;
	position: absolute;
	font-size: 2.5rem;
	box-shadow: 0 15px 35px black;
}

.right:active {
  background-color:#34e7e4;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

.left{
	width: 200px;
	height: 240px;
	box-shadow: 0 15px 35px black;
	border-radius: 30px;
	left: 15px;
	bottom: 350px;
	background:lightblue;
	position: absolute;
	font-size: 2.5rem;
}
.left:active {
  background-color: #34e7e4;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
